{
  "auths": {
    "{{{ registry_url }}}": {
      "username": "{{{ user_name}}}",
      "password": "{{{ user_auth_token }}}",
      "email": "{{{ user_email }}}",
      "auth": "{{{ user_auth_secret}}}"
    }
  }
}