region                        = "{{ regionName }}"
tenancy_ocid                  = "{{ tenancyId }}"
compartment_ocid              = "{{ compartmentId }}"
ssh_public_key                = "{{{ ssh_public_key }}}"
ssh_private_key_path          = "{{{ ssh_private_key_path }}}"