spring:
  jpa:
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
  datasource:
    url: jdbc:mysql://{{ mysql_host }}:3306/{{ mysql_database }}
    user: {{ mysql_user }}
    password: {{{ mysql_password }}}
    driver-class-name: com.mysql.cj.jdbc.Driver